@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
*{
	font-family: Lato;
	font-weight: 400;
}
body{
	background-color: #1a1a1a;
	color: #e5e5e5;
}
a{
	color: #aaa;
	text-decoration: none;
	transition: all 200ms ease-out;
	font-weight: 300;
}
a:hover, a:focus{
	color: #fff;
	border-bottom: 1px solid #fff;
}
ul.navbar, ul.navbar li{
	display: inline;
}
ul.navbar li a{
	margin: 0 10px;
}